{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width: 400px;">
  <h2>menu</h2>

<form method="get" action="/menu">
  <label>プレイリスト作成</label><br />
  <input name="userID[]" type="text" size="10" placeholder="last.fmのアカウントをここに入力" class="form-control"><br>
  <input name="userID[]" type="text" size="10" placeholder="last.fmのアカウントをここに入力" class="form-control"><br>
  <input name="userID[]" type="text" size="10" placeholder="last.fmのアカウントをここに入力" class="form-control"><br>
  <input type="submit" value="作成" class="btn btn-primary">
</form>
{{ weeklymbid }}
<!-- 完全一致する曲 -->
{% if recommend_songs %}
<h2>プレイリスト</h2>

  {% for song in recommend_songs %}
  <div class="card">
    {% if 'artist' in song %}
      <a class="text-center" href = "{{ song['url'] }}">{{ song['name'] }}</a><br>
      <b class="text-center">{{ song['artist']['name'] }}{{ song['artist']['#text'] }}</b><br>
    <!-- <img src="{{ song['image'][2]['#text'] }}" width="180" height="180"><br> -->
    <img src="{{ song['image'][2]['#text'] }}" width="180" height="180" class="rounded mx-auto d-block"><br>
    <!-- <p></p> -->
    {% endif %}
  </div>
  {% endfor %}
{% endif %}

{% endblock %}
</div>
