{% extends "layout.html" %}
{% block body %}
  <h2>menu</h2>
<form method="get" action="/menu">
  <label>ユーザの嗜好を表示</label><br />
  <input name="userID[]" type="text" size="10" placeholder="last.fmのアカウントをここに入力" class="form-control"><br>
  <input name="userID[]" type="text" size="10" placeholder="last.fmのアカウントをここに入力" class="form-control"><br>
  <input name="userID[]" type="text" size="10" placeholder="last.fmのアカウントをここに入力" class="form-control"><br>
  <input type="submit" value="送信" class="btn btn-primary">
</form>
{{ weeklymbid }}
<!-- 完全一致する曲 -->
{% if recommend_songs %}
  {% for song in recommend_songs %}
    <h2>プレイリスト1</h2>
    {{ song['name'] }}<br>
    {{ song['artist']['name'] }}<br>
    <img src="{{ song['image'][2]['#text'] }}"><br>
  {% endfor %}
{% endif %}

<!-- lovedtrackから類似する曲を取得 -->
{% if similartracks %}
  {% for user, similartrack in similartracks.items() %}
    <h2>lovedtrackの類似曲</h2>
      {% for song in similartrack %}
        {{ song['name'] }}<br>
        {{ song['artist']['name'] }}<br>
        <img src="{{ song['image'][2]['#text'] }}"><br>
      {% endfor %}
  {% endfor %}
{% endif %}


{% if weeklytrackcharts %}
  {% for user, weeklytrackchart in weeklytrackcharts.items() %}
    <h2>{{ user }}さんのweeklytrackchart</h2>
      {% for song in weeklytrackchart %}
        {{ song['name'] }}<br>
        {{ song['artist']['#text'] }}<br>
        <img src="{{ song['image'][2]['#text'] }}"><br>
      {% endfor %}
  {% endfor %}
{% endif %}

{% if lovedtracks %}
  {% for user, lovedtrack in lovedtracks.items() %}
    <h2>{{ user }}さんのlovedtrack</h2>
      {% for song in lovedtrack %}
        {{ song['name'] }}<br>
        {{ song['artist']['name'] }}<br>
        <img src="{{ song['image'][2]['#text'] }}"><br>
      {% endfor %}
  {% endfor %}
{% endif %}


{% endblock %}
